<div class="container-fluid">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-server" aria-hidden="true"></i> Containers</div>
      <table class="table">
        <tr>
          <td>State</td>
          <td>Name</td>
          <td>Image</td>
          <td>IP Address</td>
          <td>Published Ports</td>
        </tr>
        <% @containers.each do |container| %>
          <tr>
            <td><%= container.info["State"] %></td>
            <td><%= container.info["Names"].join(", ")[1..-1] %></td>
            <td><%= container.info["Image"] %></td>
            <td>
              <%= container.info["NetworkSettings"]["Networks"]["bridge"]["IPAddress"].presence || "No IP Address"  %>
            </td>
            <td><%= container.info["Ports"].join(" ").presence || "No ports specified" %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <h3>Containers - DEBUG</h3>
    <%= debug @containers %>
  </div>
</div>
